.container0{
    background: skyblue;
    font-size: 100px;
    height: 50%;
}

.bagcard{
    background-color:ivory;
    float: left;
  width: 25%;
  padding: 0 10px;
    
}
.bagcard p{
    background-color: lightblue;
}
.row1 {
    margin: 0 -5px;
    background-color: rgb(89, 155, 240);
}